<h1>$client.getName()</h1>

<h3>Stylist: $stylist.getName()</h3>
<p>Phone: </p>
<p>Email: </p>

<a href= "#">Update stylist/details</a>
<a href="#">Delete client</a>

<a href="/stylists/$stylist.getId()">Back to stylist's page</a><br>
<a href="/clients">Back to clients</a>
