<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hair! Wow.</title>
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Righteous" rel="stylesheet">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="container">
      #if($flashMessage)
        <p id="flash-message">$flashMessage</p>
      #end
      #if(!$index)
      <h1>Hair! Wow.</h1>
      <div class="link">
        <a href="/">Home</a>
        <a href="/stylists">Stylists</a>
        <a href="/clients">Clients</a>
        <a href="/stylists/new">Add stylist</a>
        #if($stylist)
          #if($stylist.isAcceptingClients())
          <a href="/stylists/$stylist.getId()/clients/new">Add client</a>
          #end
        #else
          <a href="/clients/new">Add client</a>
        #end
      </div>
      #end
      #parse( $template )

    </div>
  </body>
</html>
