<h1>Stylists</h1>
<h3><a href="/clients">See clients instead</a></h3>
#if($success)
  <h4 class="success">$success added!</h4>
#end
#if($stylists.size() > 0)
  #foreach($stylist in $stylists)
    <div class="stylist">
      <a href="stylists/$stylist.getId()">$stylist.getName()</a>
    </div>
  #end
#else
  <h2>No stylists yet! Hire someone!</h2>
#end
<div class="link">
<a href="/stylists/new">Add new hire</a>
<a href="/">Back to home</a>
</div>
